

body{
	background:grey;
	color:white;
}
.only{
	color:lightblue;
}
.red{

	padding-left: 10px;
    margin-right: 150px;
    
	height:40px;
	background-color:black;
	float:right;
}

.only:hover{
	color:grey;
	
}
img{
	margin-left:-30%;
	margin-top: 20%;
}
hr{
	color:white;
}
